@model Player
@inject IPlayerRepository PlayerRepository
@inject IBoardGameRepository BoardGameRepository

@if (PlayerRepository.IsPlayerLoggedIn() == true)
{
    <a class="btn-primary btn" asp-controller="Player" asp-action="Index">
        Back
    </a>
    <br />
    <h2> Player Details</h2>
    <br />
    <div class="text-hide">@Model.PlayerId </div>
    <h3> @Model.Name </h3>
    <p> Age: @Model.Age </p>
    <br />

    @if (BoardGameRepository.GetBoardGameByPlayerId(Model.PlayerId) != null)
    {
        @if (BoardGameRepository.GetBoardGameIdByPlayerId(Model.PlayerId) > 0)
        {
            @: Currently Playing: @BoardGameRepository.GetBoardGameNameByPlayerId(Model.PlayerId)
            @if (Model.PlayerId == PlayerRepository.GetLoggedInPlayerId())
            {
                <a class="btn-primary btn" asp-controller="Home" asp-action="CheckIn">
                    Check In
                </a>
            }
        }
    }
    @if (PlayerRepository.GetLoggedInPlayerId() == Model.PlayerId || PlayerRepository.IsPlayerAdmin() == true)
    {
        <br />
        <a class="btn-secondary btn" asp-controller="Player" asp-action="UpdatePlayer" asp-route-playerId="@Model.PlayerId">
            Update Player
        </a>
        <a class="btn-danger btn" asp-controller="Player" asp-action="Delete" asp-route-playerId="@Model.PlayerId">
            Delete Player
        </a>
    }
}
else
{
    @: <h2 class="text-danger">You Must Be Logged In To View Player Details.</h2>
    <br />
    <a class="btn-primary btn" asp-controller="Player" asp-action="Index">
        Back
    </a>
}
<br />
<br />


