@model IQueryable<BoardGame>
@inject IPlayerRepository PlayerRepository

<div>
    <h1 class="display-4 text-center bg-success text-white"><b>Welcome To The Ezekiel's Board Game Checkout!</b></h1>
</div>
<br />
<a class="btn btn-info text-center" asp-controller="Player" asp-action="Index"> Select Player </a>
@if (PlayerRepository.IsPlayerAdmin() == true)
{
    <a class="btn btn-success text-center" asp-controller="Home" asp-action="Add">
        Add Game
    </a>

}

<br />
<br />
<h3> List of all Board Games: </h3>
<hr />
@foreach (BoardGame b in Model)
{
    if (PlayerRepository.IsPlayerLoggedIn() == true)
    {
        <h4>
            <a asp-controller="Home" asp-action="Detail" asp-route-gameId="@b.BoardGameId">
                @b.Name
            </a>
        </h4>
        @:<b>Description: </b> @b.Description
        <h5>
            Genre:
            <a asp-controller="Home" asp-action="Search" asp-route-genre="@b.Genre">
                @b.Genre
            </a>
        </h5>
        @:Company: @b.CompanyName
        <br />
        @if (b.CheckedOut == true)
        {
            @: <div class="text-danger"> Sorry, this Game is Currently Checked Out. </div>
        }
        else
        {
            @: <div class="text-success"> This game is still available! </div>
        }
        <hr />
    }
    else
    {
        @:<div class="text-danger"><b>Please Log In To Check Out A Game!</b></div>
        <h4>
            @b.Name
        </h4>
        @:Description: @b.Description
        <h5>
            Genre:
            <a asp-controller="Home" asp-action="Search" asp-route-genre="@b.Genre">
                @b.Genre
            </a>
        </h5>
        @:Company: @b.CompanyName
        <br />
        @if (b.CheckedOut == true)
        {
            @: <div class="text-danger"> Sorry, this Game is Currently Checked Out. </div>
        }
        else
        {
            @: <div class="text-success"> This game is still available! </div>
        }
        <hr />

    }
}
