@model IQueryable<BoardGame>
@inject IPlayerRepository PlayerRepository

@if (PlayerRepository.IsPlayerLoggedIn() == true)
{
    <a class="btn-primary btn" asp-controller="Home" asp-action="Index">
        Back
    </a>

    <hr />
    @foreach (BoardGame b in Model)
    {
        <h4>
            <a asp-controller="Home" asp-action="Detail" asp-route-gameId="@b.BoardGameId">
                @b.Name
            </a>
        </h4>
        <p> @b.Description </p>
        <h4> @b.Genre </h4>
        <h4> Category: @b.CompanyName </h4>
        <h4> Player Info: @b.NumberOfPlayers </h4>
        @if (b.CheckedOut == true)
        {
            @: <div class="text-danger"> Sorry, this Game is Currently Checked Out. </div>
        }
        else
        {
            @: <div class="text-success"> This game is still available! </div>
            <a class="btn-sm btn-primary"
               asp-controller="Home" asp-action="CheckOut" asp-route-gameId="@b.BoardGameId ">
                Check Out Game
            </a>
        }
        <hr />
    }
}
else
{
    <a class="btn-primary btn" asp-controller="Home" asp-action="Index">
        Back
    </a>

    <hr />
    @foreach (BoardGame b in Model)
    {
        @:<div class="text-danger">Please Log In To Check Out A Game!</div>
        <h4>
            @b.Name
        </h4>
        <p> @b.Description </p>
        <h4> @b.Genre </h4>
        <h4> Category: @b.CompanyName </h4>
        <h4> Player Info: @b.NumberOfPlayers </h4>
        @if (b.CheckedOut == true)
        {
            @: <div class="text-danger"> Sorry, this Game is Currently Checked Out. </div>
        }
        else
        {
            @: <div class="text-success"> This game is still available! </div>
        }
        <hr />
    }
}

}

